INTRODUÇÃO A CIÊNCIA DE DADOS/AVALIACAO FINAL/Marcola/
PROJETO FINAL/*.exe
PROJETO FINAL/*.log
.vscode
TÉCNICAS AVANÇADAS DE CAPTURA E TRATAMENTO DE DADOS/AULA 6/DocCol1/*
TÉCNICAS AVANÇADAS DE CAPTURA E TRATAMENTO DE DADOS/AULA 6/DocCol2/*
.vscode/*
.vscode/settings.json
.vscode/settings.json
PROJETO FINAL/CÓDIGOS/DESENV/MODELOS/nsfw.299x299.h5
.vscode/settings.json
REDES NEURAIS E ARQUITETURAS PROFUNDA/AULA 6/glove_s50/glove_s50.txt
REDES NEURAIS E ARQUITETURAS PROFUNDA/AULA 6/glove_s50.zip
*Zone.Identifier
